.features {
  display: flex;

  &__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__icon {
    width: 270px;
    padding: 25px 100px;
    margin-bottom: 30px;
    background: $btnFon;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $subtitleText;
  }
}
